rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
		match /account/{version} {            
			match /accounts/{uid} {
				allow read: if request.auth.uid == uid;
				allow write: if request.auth.uid == uid;
			}
    }

		match /commerce/{version} {  

			match /users/{uid} {
				allow read: if request.auth.uid == uid;
				allow write: if request.auth.uid == uid;

				match /roles/{role_id} {
					allow read: if request.auth.uid == uid;
					allow write: if request.auth.uid == uid;
				}

				match /orders/{order_id} {
					allow read: if request.auth.uid == uid;
					allow write: if request.auth.uid == uid;
				}
				
				match /shippingAddresses/{shipping_id} {
					allow read: if request.auth.uid == uid;
					allow write: if request.auth.uid == uid;
				}
			}

			match /carts/{uid} {
				allow read: if request.auth.uid == uid;
				allow write: if request.auth.uid == uid;
			}

			match /providers/{provider_id} {
				allow read: if true;
				allow write: if request.auth.uid == uid;

				match /products/{product_id} {
					allow read: if true;
					allow write: if request.auth.uid == uid;

					match /skus/{sku_id} {
						allow read: if true;
						allow write: if request.auth.uid == uid;
					}
				}

				match /orders/{order_id} {
					allow read: if request.auth.uid == uid;
					allow write: if request.auth.uid == uid;
				}
			}
    }

		match /social/{version} {   

			match /users/{uid} {
				allow read: if true;
				allow write: if request.auth.uid == uid;
			}
    }
  }
}